@implements IDisposable

@inject NavigationManager NavigationManager

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
        <img src="AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Students</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <AuthorizeView>
                    <Authorized>
                        <a href="#" class="d-block">@context.User.Identity?.Name</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

        <!-- Sidebar menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Dashboard -->
                <li class="nav-item menu-open">
                    <NavLink href="" Match="NavLinkMatch.All" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </NavLink>
                </li>

                <!-- Check if the user has the 'System' role -->
                <AuthorizeView Roles="System">
                    <Authorized>
                        <!-- Show all menus for System Admin -->
                        <li class="nav-item has-treeview @(isAcademicsOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleAcademics">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Academics
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isAcademicsOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/students-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Students</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/parents-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Parents</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/teachers-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Teachers</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/subjects-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Subjects</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/departments-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Departments</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview @(isLibraryOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleLibrary">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Library
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isLibraryOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/books-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Books</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/bookIssuances-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Book Issuance History</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/returnedBooks-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Returned Book History</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview @(isSystemSettingAdminOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleSystemSettingAdministration">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    System Setting
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isSystemSettingAdminOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/countries-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Countries</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/systemCodes-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>System Codes</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/systemCodeDetails-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>System Code Details</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview @(isSystemAdminOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleSystemAdministration">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>
                                    System Administration
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isSystemAdminOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/academicYears-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Academic Year</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="users-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User Management</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <!-- For non-System roles, only show corresponding sections -->
                <AuthorizeView Roles="Academic">
                    <Authorized>
                        <!-- Academics Dropdown for Academic role -->
                        <li class="nav-item has-treeview @(!isAcademicsOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleAcademics">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Academics
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isAcademicsOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/students-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Students</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/parents-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Parents</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/teachers-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Teachers</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/subjects-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Subjects</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/departments-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Departments</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Library">
                    <Authorized>
                        <!-- Library Dropdown for Library role -->
                        <li class="nav-item has-treeview @(!isLibraryOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleLibrary">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Library
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isLibraryOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/books-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Books</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/bookIssuances-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Book Issuance History</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/returnedBooks-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Returned Book History</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="SystemSetting">
                    <Authorized>
                        <li class="nav-item has-treeview @(!isSystemSettingAdminOpen ? "menu-open" : "")">
                            <a href="javascript:void(0);" class="nav-link" @onclick="ToggleSystemSettingAdministration">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    System Setting
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview @(isSystemSettingAdminOpen ? "show" : "")">
                                <li class="nav-item">
                                    <NavLink href="/countries-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Countries</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/systemCodes-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>System Codes</p>
                                    </NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/systemCodeDetails-list" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>System Code Details</p>
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link" href="Account/Login">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>

    </div>
</aside>

@code {
    private string? currentUrl;
    private bool isAcademicsOpen;
    private bool isLibraryOpen;
    private bool isSystemAdminOpen;
    private bool isSystemSettingAdminOpen;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private void ToggleAcademics()
    {
        isAcademicsOpen = !isAcademicsOpen;
    }

    private void ToggleLibrary()
    {
        isLibraryOpen = !isLibraryOpen;
    }

    private void ToggleSystemAdministration()
    {
        isSystemAdminOpen = !isSystemAdminOpen;
    }

    private void ToggleSystemSettingAdministration()
    {
        isSystemSettingAdminOpen = !isSystemSettingAdminOpen;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
