@page "/parent/delete/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer

<h3>Delete Parent Detail</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Full Name</th>
                <td>@parentobj?.FullName</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@parentobj.Gender?.Description</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>@parentobj.DOB.ToShortDateString()</td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td>@parentobj.EmailAddress</td>
            </tr>
            <tr>
                <th>Student Address</th>
                <td>@parentobj.Address</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@parentobj.PhoneNumber</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>@parentobj.Student?.FullName</td>
            </tr>
            <tr>
                <th>Parent Type</th>
                <td>@parentobj.ParentType?.Description</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete Student</button>
        <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Parent parentobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadParent();
    }

    private async Task LoadParent()
    {
        parentobj = await ParentService.GetByIdAsync(id);
    }

    protected async Task Delete()
    {
        var result = await ParentService.DeleteAsync(id);
        navigation.NavigateTo("/parents-list");
    }

    public void Cancel()
    {
        navigation.NavigateTo("/parents-list");
    }
}
