@page "/add-bookIssuance"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Add New Book Issuance</h3>
            </div>
            <div class="card-body">
                <EditForm Model="bookobj" OnValidSubmit="CreateBookIssuance" FormName="addBookIssuance">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Issue Date</label>
                                    <InputDate for="IssueDate" class="form-control" @bind-Value="@bookobj.IssueDate" />
                                    <ValidationMessage For="()=>bookobj.IssueDate" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Return Date</label>
                                    <InputDate for="ReturnDate" class="form-control" @bind-Value="@bookobj.ReturnDate" />
                                    <ValidationMessage For="()=>bookobj.ReturnDate" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Class Name</label>
                                    <InputSelect for="ClassId" class="form-control" @bind-Value="@bookobj.ClassId">
                                        <option value="">Select Class</option>
                                        @if (Class != null && Class.Any())
                                        {
                                            @foreach (var item in Class)
                                            {
                                                <option value="@item.Id">@item.Description</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="()=>bookobj.ClassId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Student Name</label>
                                    <InputSelect for="StudentId" class="form-control" @bind-Value="@bookobj.StudentId">
                                        <option value="">Select Student</option>
                                        @if (Students != null && Students.Any())
                                        {
                                            @foreach (var student in Students)
                                            {
                                                <option value="@student.Id">@student.FullName</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="()=>bookobj.StudentId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Book Name</label>
                                    <InputSelect for="BookId" class="form-control" @bind-Value="@bookobj.BookId">
                                        <option value="">Select Class</option>
                                        @if (Books != null && Books.Any())
                                        {
                                            @foreach (var book in Books)
                                            {
                                                <option value="@book.Id">@book.Name</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="()=>bookobj.BookId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Creator</label>
                                    <InputText for="CreatedById" class="form-control" @bind-Value="@bookobj.CreatedById" />
                                    <ValidationMessage For="()=>bookobj.CreatedById" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <InputText for="Notes" class="form-control" @bind-Value="@bookobj.Notes" />
                                    <ValidationMessage For="()=>bookobj.Notes" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Save Book Issuance</button>
                            <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Back to List</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    [SupplyParameterFromForm]
    public BookIssuance bookobj { get; set; } = new();
    List<SystemCodeDetail> Class = new List<SystemCodeDetail>();
    List<Book> Books = new List<Book>();
    List<Student> Students = new List<Student>();

    protected override async Task OnInitializedAsync()
    {
        Class = await SystemCodeDetailService.GetByCodeAsync("Class");
        Books = await BookService.GetAllAsync();
        Students = await StudentService.GetAllStudentsAsync();
    }

    protected async Task CreateBookIssuance()
    {
        try
        {
            var result = BookIssuanceService.AddAsync(bookobj);
            navigation.NavigateTo("/bookIssuances-list");
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Error while saving the book issuance: " + ex.Message);
        }
    }
    public void Cancel()
    {
        navigation.NavigateTo("/bookIssuances-list");
    }
}
