@page "/bookIssuance/delete/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer

<h3>Delete Book Issuance Detail</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Issue Date</th>
                <td>@bookobj.IssueDate</td>
            </tr>
            <tr>
                <th>Return Date</th>
                <td>@bookobj.ReturnDate</td>
            </tr>
            <tr>
                <th>Class Name</th>
                <td>@bookobj.Class?.Description</td>
            </tr>
            <tr>
                <th>Student Name</th>
                <td>@bookobj.Student?.FullName</td>
            </tr>
            <tr>
                <th>Book Name</th>
                <td>@bookobj.Book?.Name</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>@bookobj.Notes</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete Book Issuance</button>
        <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public BookIssuance bookobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadBook();
    }

    private async Task LoadBook()
    {
        bookobj = await BookIssuanceService.GetByIdAsync(id);
    }

    protected async Task Delete()
    {
        var result = await BookIssuanceService.DeleteAsync(id);
        navigation.NavigateTo("/bookIssuances-list");
    }

    public void Cancel()
    {
        navigation.NavigateTo("/bookIssuances-list");
    }
}
